/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }

 .profilePhoto{
     width:50px;
     height:50px;
     margin: 0px 10px;
     border: 50% !important;

 }

 .text-primary{
    font-size:30px;
    margin:5px;
    height: 40px;
 }

.navItem{
    margin: 0px 20px;
 }

 .label{
     font-size: 20px;
     line-height: 10px;

 }